button{
    font-size: xx-large;
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
div h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: red;
}
h1:hover{
    -webkit-text-fill-color: antiquewhite;
    cursor:pointer ;
    text-decoration: underline;
}
a:hover{
    background-color: antiquewhite;
    cursor: pointer;
    text-decoration: underline;
}
*{
    background-color: rgb(13, 235, 98);
}
ul{
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif
}